body {
    font-family: Inter, Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 1.5;
}

.bg-image {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 200px;
    bottom: 0;
    overflow-y: hidden;
}

.bg-image img {
    max-width: 400px;
    height: auto; /* Maintain the aspect ratio */
    margin-right: -50px; /* Optionally shift the image to the left to only show part of it */

}

#logo {
    position: absolute;
    width: 200px;
    top: 30px;
    left: 35px;
    margin: 0;
    z-index: 999;

}

#menu-header {
    position: absolute;
    width: 100px;
    top: 30px;
    right: 35px;
    margin: 0;
    text-align: right;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    z-index: 999;
    font-size: 18px;
    
}

hr {
    margin: 0;
}

a {
    text-decoration: none;
    color: darkcyan;
    
}

a:hover {
    color: darkslategray;
}

.list-hyperlink {
    font-size: 18px;
}

p {
    font-size: 18px;
}

#more-button {
    display: inline;
    cursor: pointer;
}

#less-button {
    display: none;
    cursor: pointer;
}

#hidden {
    display: none;
}

#hidden-2 {
    display: none;
}

.wrapper {
    position: relative;
    padding-top: 225px;
    padding-left: 185px;
    padding-bottom: 200px;
}

a.no-color-link {
    color: black;
}

a.no-color-link:hover {
    color: rgb(85, 85, 85);
}


footer {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
}

footer p {
    text-align: right;
}

.text-container {
    max-width: 600px;
}


@media (max-width: 1200px) {
.wrapper {
    padding-left: 160px;
    padding-bottom: 150px;
}
.text-container {
    max-width: 500px;
}
.bg-image img {
    margin-right: -50px;
}

}

@media (max-width: 1000px) {
    .bg-image img {
        max-width: 300px;
        margin-right: -60px;
    }

    .bg-image {
        top: 200px;
        
    }
}

@media (max-width: 870px) {
.wrapper {
    padding-left: 135px;
}

.text-container {
    padding-right: 135px;
}

.bg-image img {

    margin-right: -150px;
}
}
@media (max-width: 700px){
    .wrapper {
    padding-top: 160px;
    padding-left: 100px;
    padding-bottom: 100px;
}

.text-container {
    padding-right: 100px;
}

.bg-image img {
    max-width: 250px;
    margin-right: -120px;
}

}
@media (max-width: 650px)
{ .wrapper {
    padding-top: 160px;
    padding-left: 80px;
}

.text-container {
    padding-right: 80px;
}

.bg-image img {
    max-width: 200px;
    margin-right: -110px;
}

}
@media (max-width: 500px)
 {
    .wrapper {
        padding-top: 120px;
        padding-left: 35px;
    }

    .text-container {
        padding-right: 35px;
    }

    .bg-image {
        top: 200px;
        
    }
    
    .bg-image img {
        max-width: 150px;
    }
}